.accommodation-card {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

main {
  width: 100% - 24px;
}

h2 {
  margin: 8px 0px;
}

p {
  font-size: 16px;
}
.preview {
  width: 100%;
}

.sub-header {
  color: grey;
  font-size: 14px;
}

footer {
  margin-top: auto;
  align-self: flex-end;
}

.heart-icon path {
  cursor: pointer;
  fill: lightgray;
}

.heart-icon-favorite path {
  fill: red;
}
